body {
    margin: 0;
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

header {
    background: teal;
    text-align: center;
    min-height: 50px;
    font-size: 32px;
    color: white;
    margin-bottom: 35px;
}

.game-section {
    display: flex;
    background: tomato;
    min-height: 250px;
    width: 55%;
    margin: auto;
    border-radius: 5px;
}